
.footer__section {
    
    background: #2F303A;
    display:flex;
}

.footer {
     width:1200px;
     height:252px;
    padding-top: 60px;
    padding-bottom: 60px;
display: flex;
flex-direction: column;}

