
.modal {
    width: 528px;
    height: 581px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
}

.modal__button--close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.modal__button--close:hover,
modal__button--close:focus {
    background-color: #fff;
    box-shadow: none; 
}

.close-button-icon {
    fill: #000000;
    margin: 5px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1),
     visibility 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.modal__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    margin-top: 40px;
    color:#000;
}

.modal__form {
    width: 448px;
    margin: 12px 40px;
    padding: 0;
}

.data {
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: #757575;
    padding: 0;
}

.icon-person,
.icon-phone,
.icon-email{
  margin-left:12px;
  margin-right:12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}