
.our-customers__section{
  display: flex;
  margin:0 auto;
  width:1170px;
  flex-direction: column;
 
}

.our-customers__text{
font-size: 36px;
line-height: 1,17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-top:102px;
margin-bottom: 50px;
flex-direction: column;
}
.customer-icon{
    width: 170px; 
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto; 
    flex-direction: row;

    &:hover,
    &:focus{
    border-color: var(--main-color);
    cursor: pointer;
  

   &:hover > .customer-svg{
   fill:var(--main-color)
  }
 }
}


.customer-svg{
  fill:#AFB1B8;
   transition-property:var(--main-color);
  transition-duration: 250ms;

  &:hover,
  &:focus{
   fill:var(--main-color);
    cursor: pointer;
    
 }
  
}
 