.nav__agency{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition:color 250ms linear;
}
.nav__agency:hover, 
.nav__agency:focus {
    color: var(--main-color);
    
}




   


