.logo__link {
    width: 145px;
    height: 31px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    transition:color 250ms linear;
    
}


.logo__web {
    color:var(--main-color);
    
}
.logo__link:hover,
.logo__link:focus{
    color: var(--main-color);
    cursor: pointer;
}