.logo__footer:hover,
.logo__footer:focus{
    color: var(--main-color);
    cursor: pointer;
    
}


.logo__footer {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #fff;
     transition:color 250ms linear;
    
}

.logo__footer-span {
    color: var(--main-color);
   
}