.nav__portfolio {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition:color 250ms linear;
}
.nav__portfolio:active,
.nav__portfolio:hover,
.nav__portfolio:focus {
    color: var(--main-color);
    
}