
.social {
width: 206px;
height: 44px;
margin: 16px auto;
display:flex;
align-items: center;
justify-content: center;
}
.social-icon,
.social-icon-footer{
 width: 44px;
 height: 44px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 fill:#fff;
  transition-property:var(--main-color);
  transition-duration: 250ms;
}
 .social-icon:hover,
 .social-icon:focus,
 .social-icon-footer:hover,
 .social-icon-footer:focus{
 background-color:var(--main-color);
 cursor:pointer;
 fill:#fff;  
 

 }

 .social-icon:hover > .instagram,
 .social-icon:hover > .twitter,
 .social-icon:hover > .facebook,
 .social-icon:hover > .linkedin{
   fill:#fff;
   
 }

 .instagram,
 .twitter,
 .facebook,
 .linkedin{
   fill:#AFB1B8;
 }