.tel:hover,
.tel:focus{
    color: var(--main-color);
    cursor: pointer;
}

 .tel-icon
{
  margin-right:10px;
  fill: #757575;
 
  } 

.tel-icon:hover,
.tel-icon:focus{
  fill: var(--main-color);
 
}
.tel {
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    transition:color 250ms linear;
}


