.filters{
  width:1200px;
  display: flex;

}

.filters__list {
  width: 572px;
  height: 54px;
  margin: 0 auto;
 margin-top: 94px;
 margin-bottom:34px;
 padding:0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}